@model APIS_IS.Models.registro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>registro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DPI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DPI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Banco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banco)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_Registro }) |
    @Html.ActionLink("Back to List", "Index")
</p>
