@model IEnumerable<APIS_IS.Models.pago_servicio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fk_id_tipo_servicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fk_id_cuenta_bancaria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_autorizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_realizo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cuenta_debitada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_pagar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fk_id_tipo_servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fk_id_cuenta_bancaria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.no_documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.no_autorizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_realizo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cuenta_debitada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_pagar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_pago_servicio }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_id_pago_servicio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_pago_servicio })
        </td>
    </tr>
}

</table>
