@model APIS_IS.Models.saldos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>saldos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fk_id_cuenta_bancaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fk_id_cuenta_bancaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saldo_disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saldo_disponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saldo_flotante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saldo_flotante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salto_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salto_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_saldo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
